
                              
        .btn-more{
            padding: 10px 24px;
        }
        /* .button5 {
            align-items: center;            
            background-color: #764db8;
            border-radius: 24px;            
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;            
            color: white;
            cursor: pointer;            
            font-size: 14px;
            font-weight: 500;
            height: 48px;
            justify-content: center;
            letter-spacing: .25px;
            line-height: normal;
            max-width: 100%;
            overflow: visible;            
            position: relative;
            text-align: center;
            text-transform: none;
            transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: auto;
            will-change: transform, opacity;
            z-index: 0;
        } */
        .button5:hover{
            color: rgb(199, 199, 199);
        }
        
        .ch_color {
            color: #5423a1;
        }
        
        .spasi {
            line-height: 50px;
        }
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
              
        
        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
        
        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }
        
        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }
        
        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }
        
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
        
        .box2 {     
            background: rgb(216, 185, 255);
            background: linear-gradient(210deg, rgba(159, 136, 195, 1) -20%, rgba(255, 255, 255, 0) 62%);        
        }
        
        .big-O {        
            transform: translate(45%, -25%);
            height: 200px;
            width: 400px;
            border-radius: 200px 200px 0 0;
            background-color: #D8B9FF;
            rotate: 95deg;            
        }
        .big-1 {        
            transform: translate(-10%, -25%);
            height: 200px;
            width: 400px;
            border-radius: 200px 200px 0 0;
            background-color: transparent;
            border: 4px solid yellow;
            rotate: 100deg;            
        }
        
        .gmbr {            
            z-index: 2;                        
            transform: translate(20%, -65%);
            clip-path: circle(49.3% at 0 50%);
        }        
        
        .accordion-item.homepage {
            text-decoration: none;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        }

        .accordion-button {
            display: inline-block;
            position: relative;
            height: auto;
        }
        .accordion-payment .row h5 {
            display: block;
            cursor: pointer;
        }
        
        .accordion-payment .row p {
            display: none;
            margin: 0;
            padding: 0 0 1em;
        }
        
        .accordion-payment .row * {
            display: none;
        }
        
        .svg-inline--fa {
            position: relative;
            display: var(--fa-display, inline-block);
            height: 25px;
            overflow: visible;
            align-items: center;
            vertical-align: -.125em;
            transform: translate(30%, 20%);
        }
        
        .button-0 {
            width: 35px;
            height: 35px;
            margin-left: auto;
            margin-right: 50px;
            background-color: #D9D9D9;
            border-radius: 100%;
        }
        /* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
        
        @media (max-width: 768px) {
            .col-sm-7 {
                max-width: 98.333333%;
            }
            .text {
                text-align: center;
            }
            .cover-text {
                /* position: absolute; */
                /* background-color: antiquewhite; */
                /* z-index: 8; */
            }
            .button-wrapper {
                display: flex;
                justify-content: center;
                position: absolute;
                z-index: 9;
                transform: translate(150%, 300%);
            }
            /* .gambar {
                position: relative;
                width: 10px;
                height: 5px;
                justify-content: center;
            }
            .circle-3 .circle {
                position: absolute;
                z-index: 0;
                background-color: white;
            } */
        }